* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Sora', sans-serif;
  background: #0f1117;
  color: #f1f5f9;
  overflow-x: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb {
  background: #252d48;
  border-radius: 3px;
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; font-family: inherit; }
input, select, textarea { font-family: inherit; }